<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agapay">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Agapay">
        <activity android:name=".Developmentstudies"></activity>
        <activity android:name=".Socialwork" />
        <activity android:name=".Anthropology" />
        <activity android:name=".Sociology" />
        <activity android:name=".Politics" />
        <activity android:name=".College" />
        <activity android:name=".Contemporaryissue" />
        <activity android:name=".Economics" />
        <activity android:name=".Worldhistory" />
        <activity android:name=".Asianstudies" />
        <activity android:name=".Highschool" />
        <activity android:name=".Nationalism" />
        <activity android:name=".Philippines" />
        <activity android:name=".Pdc" />
        <activity android:name=".Population" />
        <activity android:name=".Landforms" />
        <activity android:name=".Elementary" />
        <activity android:name=".Videos" />
        <activity android:name=".PhilippineMap" />
        <activity android:name=".Topics" />
        <activity android:name=".Login_form" />
        <activity android:name=".Home" />
        <activity android:name=".Signup_form" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>